body {
    background-color: white !important;
}


.myYesNot {
    font-size: 22px !important;
    font-weight: bold;
    margin-top: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.mytextsize {
    font-size: 15px !important;
}

  .vertical-timeline-block > .vertical-timeline-icon {
    border-color: #583f66 !important;
    border-width: 2px !important;

    background-color: white !important;
    color: #0f0f0f !important;
    font-size: 24px !important;

}

  .vertical-timeline-block > .vertical-timeline-icon > .fa {
    position: absolute !important;
    top: 14px !important;
    font-weight: bold !important;
}

.myIcon {
    min-height: 65px;
    min-width: 65px;
    left:50% !important;
    top:14% !important;
    transform: translate(-50%, -50%) !important;
    transition: 0.3s;
    cursor: pointer;

    border-color: #583f66 !important;
    border-width: 2px !important;
    background-color: white !important;

    color: #6c757d !important;


}

.myIcon > .fa {
    position: absolute !important;

    top: 37%;
}





.air {
    height: 45px;
    width: auto;
    background-color: #583f66;
    border-radius: 11px;
    position: relative;
    top: 15px;
}

.col-centered{

}
.centred {
    position: absolute;
      /* position the top  edge of the element at the middle of the parent */
    right: 20px; /* position the left edge of the element at the middle of the parent */

    /*transform: translate(-50%, -50%);*/
}

.heightMin {
    min-height: 120px;
}

 .myIcon:hover {
    width: 85px;
    height: 85px;
    transition: 0.3s;
    color: #1dc5a3 !important;
}



 .myLabel {
     position: absolute;
     left:50%;
     top:80px;
     transform: translate(-50%, -50%);


 }

.myLabel p{

    transition: 0.3s;

}




 .myNote {

     border: 1px solid #5bc0de;
     border-radius: 6px;
     height:300px;
     background-color: #f1f1f1;

 }

 .notes {
     border-radius: 15px;
     height: 500px;
     background-color: #f5f5f5;

 }

 #vertical-timeline {

 }

 .fa-check-circle {
     background-color: #f5f5f5 !important;
     color: #00cc00;
 }


.mytitle {
    display: flex;
    align-items: center;
}

.mytimeline {
    padding: 0 !important;
}


.mynote {
    padding-left: 0;
}

.mycontent {
    margin-right: 0px !important;
    margin-left: 0px !important;
}



.myImage {
    position: absolute;

    top: 50%;
    left: 50%;


    transform: translate(-50%, -50%);
    filter: grayscale(100%);

    border-radius: 10px;
    transition: 0.3s;
}

.myImage:hover {
    height: 55px;
    width: 55px;

    filter:none;


    transition: 0.3s;
}


.myIcon:hover ~ .myLabel p{
    font-weight: bolder;
    transition: 0.3s;

}

.myMainNote {
    float:none !important;
    transition: 0.3s;
}

.myMainDeleteMarginBootom {
    margin-bottom: 0 !important;
}


.myMainNote:hover {
    background-color: #1AB394 !important;
    color: white !important;
    transition: 0.3s;
}

.myStepDown {
    float:none !important;
    transition: 0.3s;

}
.myStepDown:hover {
    background-color: #0e9aef !important;
    color: white !important;
    transition: 0.3s;
}
























